<section class="section bgi-up">
  <div class="section-title">
    ВЕБНАДЗОР - ЭТО КОМАНДА ЭКСПЕРТОВ В СФЕРЕ МЕДИЦИНСКОГО БИЗНЕСА - ПРОГРАММИСТ, ВРАЧ-ЭПИДЕМИОЛОГ, ЮРИСТ, МАРКЕТОЛОГ
  </div>
  <div class="about-container">
    <ul class="about-items">
      <li class="about-item">
        <app-green-point [star]="false"></app-green-point>
        <p class="about-text">ПОМОЩЬ В ПОЛУЧЕНИИ ЛИЦЕНЗИИ НА МЕДИЦИНСКУЮ ДЕЯТЕЛЬНОСТЬ (С ОНЛАЙН-ПОДАЧЕЙ ДЕЛА)</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="false"></app-green-point>
        <p class="about-text">ПОМОЩЬ В ПОЛУЧЕНИИ САНЭПИДЗАКЛЮЧЕНИЙ НА МЕДИЦИНСКУЮ ДЕЯТЕЛЬНОСТЬ, НА ИСТОЧНИК
          ИОНИЗИРУЮЩЕГО ИЗЛУЧЕНИЯ</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="false"></app-green-point>
        <p class="about-text">РЕГИСТРАЦИЯ В ЕГИСЗ, ЗАПОЛНЕНИЕ ФРМО И ФРМР</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="false"></app-green-point>
        <p class="about-text">РАЗРАБОТКА САЙТОВ ДЛЯ МЕДИЦИНСКИХ ОРГАНИЗАЦИЙ СОГЛАСНО ЗАКОНОДАТЕЛЬСТВУ РФ</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="false"></app-green-point>
        <p class="about-text">АУДИТЫ: САЙТОВ МЕДИЦИНСКОЙ ОРГАНИЗАЦИИ, ДОКУМЕНТОВ ПЕРЕД ПОКУПКОЙ МЕДИЦИНСКОГО БИЗНЕСА</p>
      </li>
    </ul>
    <img class="about-gif" src="/assets/images/output-onlinegiftools1.gif" alt="">
  </div>
</section>
