<div class="main-container">
  <div class="container">
    <img class="document-img" src="assets/images/document-office1.gif" alt="">
    <div class="site-wrapper">
      <div class="site-header">
        <app-triangle></app-triangle>
        <h2 class="site-title">Разработка сайта</h2>
      </div>
    </div>
  </div>
  <div class="info-block">
    <ul class="info-items">
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Сайт медицинской организации должен соответствовать требованиям Постановления
          Правительства №1006 от 04.10.2012 и Приказа Минздрава РФ №956н от 30.12.2014
        </div>
      </li>
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Согласно вышеуказанным НПА на сайте должны быть размещены: правила внутреннего
          распорядка, информированные согласия, договора на оказание услуг и др.
        </div>
      </li>
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Невыполение требований карается наложением административной ответственности на
          организацию
        </div>
      </li>
    </ul>
  </div>
  <div class="">
    <ul class="about-items">
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">МЫ РАЗРАБОТАЕМ САЙТ СОГЛАСНО ТРЕБОВАНИЯМ НПА</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">СДЕЛАЕМ НЕОБХОДИМЫЕ ДОКУМЕНТЫ ДЛЯ ИХ РАЗМЕЩЕНИЯ НА САЙТ</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">ПРИ НЕОБХОДИМОСТИ АДАПТИРУЕМ САЙТ ПОД РАЗНЫЕ УСТРОЙСТВА</p>
      </li>
    </ul>
  </div>
  <div class="prices">
    <h1 class="prices-title">СТОИМОСТЬ УСЛУГ</h1>
    <div class="prices-table">
      <img class="price-logo-img" src="assets/images/2022-08-0610.31.4312.png" alt="">
      <ul class="prices-text">
        <li class="prices-item">Разработка сайта-визитки – 25000 руб.</li>
        <li class="prices-item">Разработка полноформатного сайта – от 35000 руб.</li>
        <li class="prices-item">Документы для сайта – 7000 руб.</li>
        <li class="prices-item">Версия для разных устройств – 15000 руб.</li>
        <li class="prices-item">Фирменный стиль – по договорённости.</li>
        <li class="prices-item">Онлайн-консультация – 5000 руб.</li>
        <li class="prices-item">Выездная консультация (Москва и МО, Санкт-Петербург и ЛО) – 10000 руб.</li>
      </ul>
    </div>
  </div>
</div>
