<section class="section bgi-down">
  <div class="why-us-title">
    ПОЧЕМУ ВЫБИРАЮТ НАС?
  </div>
  <ul class="about-items">
    <li animateOnScroll animationName="animate__animated animate__backInLeft animate__slow" class="about-item">
      <app-green-point [star]="true"></app-green-point>
      <p class="about-text">УПРОЩАЕМ ЖИЗНЬ РУКОВОДИТЕЛЕЙ МЕДИЦИНСКИХ ОРГАНИЗАЦИЙ</p>
    </li>
    <li animateOnScroll animationName="animate__animated animate__backInLeft animate__slow" class="about-item">
      <app-green-point [star]="true"></app-green-point>
      <p class="about-text">РАБОТАЕМ ПО ВСЕЙ СТРАНЕ С 2005 ГОДА</p>
    </li>
    <li animateOnScroll animationName="animate__animated animate__backInLeft animate__slow" class="about-item">
      <app-green-point [star]="true"></app-green-point>
      <p class="about-text">ВЫПОЛНЯЕМ СВОЮ РАБОТУ БЫСТРО, КАЧЕСТВЕННО И ПУНКТУАЛЬНО</p>
    </li>
    <li animateOnScroll animationName="animate__animated animate__backInLeft animate__slow" class="about-item">
      <app-green-point [star]="true"></app-green-point>
      <p class="about-text">РАБОТАЕМ КАК НЕПОСРЕДСТВЕННО НА МЕСТЕ, ТАК И УДАЛЁННО</p>
    </li>
    <li animateOnScroll animationName="animate__animated animate__backInLeft animate__slow" class="about-item">
      <app-green-point [star]="true"></app-green-point>
      <p class="about-text">НАШИ ПАРТНЁРЫ ПЛАТЯТ НЕ ЗА ВОЗДУХ, А ЗА РЕЗУЛЬТАТ!</p>
    </li>
  </ul>
</section>
