<header class="header">
  <img class="header-image" src="../assets/images/dd3-min27.png" alt="">
  <div class="header-wrapper">
    <img class="header-logo" src="../assets/images/2022-08-0610.31.43.png" alt="">
    <div class="header-phone">
      <app-phone-icon [color]="'#41807c'"></app-phone-icon>
      <a class="header-phone" href="tel: +7 (916) 677-15-51"> +7 (916) 677-15-51</a>
    </div>
    <div class="menu">
      <span class="menu-stick"></span>
      <span class="menu-stick"></span>
      <span class="menu-stick"></span>
    </div>
  </div>
</header>
<section class="title-section">
  <h2 class="title">Мы - универсальная таблетка от вашей головной боли</h2>
  <img class="title-img" src="../assets/images/semen.png" alt="">
</section>
<section class="section bgi-up">
  <div class="section-title">
    ВЕБНАДЗОР - ЭТО КОМАНДА ЭКСПЕРТОВ В СФЕРЕ МЕДИЦИНСКОГО БИЗНЕСА - ПРОГРАММИСТ, ВРАЧ-ЭПИДЕМИОЛОГ, ЮРИСТ, МАРКЕТОЛОГ
  </div>
  <div class="about-container">
    <ul class="about-items">
      <li class="about-item">
        <app-green-point [star]="false"></app-green-point>
        <p class="about-text">ПОМОЩЬ В ПОЛУЧЕНИИ ЛИЦЕНЗИИ НА МЕДИЦИНСКУЮ ДЕЯТЕЛЬНОСТЬ (С ОНЛАЙН-ПОДАЧЕЙ ДЕЛА)</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="false"></app-green-point>
        <p class="about-text">ПОМОЩЬ В ПОЛУЧЕНИИ САНЭПИДЗАКЛЮЧЕНИЙ НА МЕДИЦИНСКУЮ ДЕЯТЕЛЬНОСТЬ, НА ИСТОЧНИК ИОНИЗИРУЮЩЕГО ИЗЛУЧЕНИЯ</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="false"></app-green-point>
        <p class="about-text">РЕГИСТРАЦИЯ В ЕГИСЗ, ЗАПОЛНЕНИЕ ФРМО И ФРМР</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="false"></app-green-point>
        <p class="about-text">РАЗРАБОТКА САЙТОВ ДЛЯ МЕДИЦИНСКИХ ОРГАНИЗАЦИЙ СОГЛАСНО ЗАКОНОДАТЕЛЬСТВУ РФ</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="false"></app-green-point>
        <p class="about-text">АУДИТЫ: САЙТОВ МЕДИЦИНСКОЙ ОРГАНИЗАЦИИ, ДОКУМЕНТОВ ПЕРЕД ПОКУПКОЙ МЕДИЦИНСКОГО БИЗНЕСА</p>
      </li>
    </ul>
    <img class="about-gif" src="/assets/images/output-onlinegiftools1.gif" alt="">
  </div>
</section>
<section class="section bgi-down">
  <div class="why-us-title">
    ПОЧЕМУ ВЫБИРАЮТ НАС?
  </div>
  <ul class="about-items">
    <li class="about-item">
      <app-green-point [star]="true"></app-green-point>
      <p class="about-text">УПРОЩАЕМ ЖИЗНЬ РУКОВОДИТЕЛЕЙ МЕДИЦИНСКИХ ОРГАНИЗАЦИЙ</p>
    </li>
    <li class="about-item">
      <app-green-point [star]="true"></app-green-point>
      <p class="about-text">РАБОТАЕМ ПО ВСЕЙ СТРАНЕ С 2005 ГОДА</p>
    </li>
    <li class="about-item">
      <app-green-point [star]="true"></app-green-point>
      <p class="about-text">ВЫПОЛНЯЕМ СВОЮ РАБОТУ БЫСТРО, КАЧЕСТВЕННО И ПУНКТУАЛЬНО</p>
    </li>
    <li class="about-item">
      <app-green-point [star]="true"></app-green-point>
      <p class="about-text">РАБОТАЕМ КАК НЕПОСРЕДСТВЕННО НА МЕСТЕ,  ТАК И УДАЛЁННО</p>
    </li>
    <li class="about-item">
      <app-green-point [star]="true"></app-green-point>
      <p class="about-text">НАШИ ПАРТНЁРЫ ПЛАТЯТ НЕ ЗА ВОЗДУХ, А ЗА РЕЗУЛЬТАТ!</p>
    </li>
  </ul>
</section>
<section class="section">
  <div class="questions-title">
    ЧАСТЫЕ ВОПРОСЫ
  </div>
    <div class="question-box-wrapper">
      <div class="question-box">
        <p class="question-text">Каким образом осуществляется заполнение ФРМО и ФРМР в масштабах страны?</p>
        <app-plus-button></app-plus-button>
      </div>
      <div class="answer-box">
        Регистрация в ЕГИСЗ и заполнение ФРМО и ФРМР производится с помощью методик удалённого доступа к компьютеру, при этом наши партнёры могут следить за тем, как производится заполнение.
      </div>
    </div>
  <div class="question-box-wrapper">
    <div class="question-box">
      <p class="question-text">Что включает в себя аудит сайта?</p>
      <app-plus-button></app-plus-button>
    </div>
    <div class="answer-box">
      Аудит сайта проводится на основе некоторых НПА, действующих на территории РФ. Это НПА, регулирующие то, какая информация должна быть доступна пользователю сайта медицинской организации.
    </div>
  </div>
  <div class="question-box-wrapper">
    <div class="question-box">
      <p class="question-text">Возможны ли выездные консультации?</p>
      <app-plus-button></app-plus-button>
    </div>
    <div class="answer-box">
      Эта опция доступна в Москве и МО, Санкт-Петербурге и ЛО, Ростове-на-Дону и РО
    </div>
  </div>
</section>
<section class="section">
  <div class="questions-title">
    НАШИ ПАРТНЁРЫ
  </div>
  <div class="partners-container">
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/-2_00001.jpg" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/logo4.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/DPLOGOblank.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/RUSMED_logo_rus_vertical_RGB.jpg" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/logo_58d1045a04da9bc9aad8bdc540463b55.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/logo-n.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/logo.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/Vuveska_page-0001-PhotoRoom.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/IMG_0574.jpg" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/logo2.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/favikon.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/logo5.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/allergo-logo.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/logo6.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/logo.svg" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/logotip.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/logo7.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="/assets/images/main-qimg-99171212c3d5216ce091abb7fe5a18.jpg.webp" alt="">
    </div>
  </div>
</section>
<section class="form-section">
    <h2 class="form-title">ОСТАВИТЬ ЗАЯВКУ</h2>
  <form class="form" action="">
    <select class="form-input">
      <option class="form-option" value="" selected>Регистрация в ЕГИСЗ</option>
      <option class="form-option" value="">Разработка сайта</option>
      <option class="form-option" value="">Аудиторская проверка</option>
      <option class="form-option" value="">Аккредитация врачей</option>
      <option class="form-option" value="">Открытие бизнеса</option>
      <option class="form-option" value="">Получение лицензии/СЭЗ</option>
    </select>
    <input class="form-input" placeholder="Название организации" type="text">
    <input class="form-input" placeholder="Электронная почта" type="email">
    <textarea placeholder="Ваше сообщение" class="form-input form-textarea" rows="6"></textarea>
    <div class="form-input-checkbox">
      <input type="checkbox" id="offero">
      <label for="offero"> Я принимаю условия <a class="offero-link" href="">Политики конфиденциальности</a></label>
    </div>
    <button class="form-btn">ОТПРАВИТЬ</button>
  </form>
</section>
<footer class="footer">
  <div class="footer-rules">
    <div class="footer-name">ИП Малярова В.А. <br> Все права защищены</div>
    <a class="footer-name" href="tel:+7(916)677-15-51">+7(916)677-15-51</a>
  </div>
<div class="footer-end">
  <div class="footer-politics">
    <a class="footer-politic-link">Политики конфиденциальности</a><br>
    <a class="footer-politic-link">Пользовательское соглашение</a>
  </div>
  <div class="footer-year">2022</div>
</div>
</footer>
