<div class="main-container">
  <div class="container">
    <img class="document-img" src="assets/images/pexels-erika-ortiz-120949461.jpg" alt="">
    <div class="site-wrapper">
      <div class="site-header">
        <app-triangle></app-triangle>
        <h2 class="site-title">Лицензирование</h2>
      </div>
    </div>
  </div>
  <div class="info-block">
    <ul class="info-items">
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Получить лицензию на медицинскую деятельность стало проще!
          С 01 сентября 2022 года подача документов возможна только через портал Госуслуги. Время рассмотрения заявления занимает 14 рабочих дней.
        </div>
      </li>
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Для подачи заявления необходимо:
          получить санэпидзаключение;
          заключить на техобслуживание;
          составить оборотно-сальдовую ведомость;
          зарегистрироваться в ЕГИСЗ, заполнить ФРМО и ФРМР
        </div>
      </li>
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">После рассмотрения к Вам выйдет проверка отдела лицензирования, к которой мы поможем подготовиться
        </div>
      </li>
    </ul>
  </div>
  <div class="">
    <ul class="about-items">
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">СОСТАВИМ ПАКЕТ ДОКУМЕНТОВ</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">МЫ ЗАРЕГИСТРИРУЕМ ВАС В ЕГИСЗ В КРАТЧАЙШИЕ СРОКИ</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">ОТПРАВИМ ВАШЕ ЗАЯВЛЕНИЕ В ОТДЕЛ ЛИЦЕНЗИРОВАНИЯ</p>
      </li>
    </ul>
  </div>
  <div class="prices">
    <h1 class="prices-title">СТОИМОСТЬ УСЛУГ</h1>
    <div class="prices-table">
      <img class="price-logo-img" src="assets/images/2022-08-0610.31.4312.png" alt="">
      <ul class="prices-text">
        <li class="prices-item">Экспертиза и сбор документов – 5000 руб.</li>
        <li class="prices-item">Регистрация в ЕГИСЗ – 5000 руб.</li>
        <li class="prices-item">Внесение в ФРМО и ФРМР <a [routerLink]="'/egisz'">см.здесь</a></li>
        <li class="prices-item">Подача заявления в отдел лицензирования – 10000 руб.</li>
        <li class="prices-item">Предлицензионная проверка (онлайн) – 2000 руб.</li>
        <li class="prices-item">Предлицензионная выездная проверка (Москва и МО, Санкт-Петербург и ЛО, Ростов-на-Дону и РО) – 7000 руб.</li>
        <li class="prices-item">Онлайн-консультация – 5000 руб.</li>
        <li class="prices-item">Выездная консультация (Москва и МО, Санкт-Петербург и ЛО, Ростов-на-Дону и РО) – 15000 руб.</li>
      </ul>
    </div>
  </div>
</div>
