<div class="main-container">
  <div class="container">
    <img class="document-img" src="assets/images/document-office1.gif" alt="">
    <div class="site-wrapper">
      <div class="site-header">
        <app-triangle></app-triangle>
        <h2 class="site-title">Открытие ООО или ИП</h2>
      </div>
    </div>
  </div>
  <div class="info-block">
    <ul class="info-items">
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Руководитель не является медицинским работником</div>
      </li>
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Можно нанимать сотрудников</div>
      </li>
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Возможна работа по различным видам деятельности</div>
      </li>
    </ul>
    <ul class="info-items">
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Руководитель обязательно должен быть медицинским работником</div>
      </li>
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Нельзя нанимать сотрудников</div>
      </li>
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Возможно осуществление только тех видов деятельности, по специальностям которых имеет право работать сам предприниматель</div>
      </li>
    </ul>
  </div>
  <div class="">
    <ul class="about-items">
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">МЫ РЕГИСТРИРУЕМ ВАС В ЛЮБОМ НАСЕЛЕННОМ ПУНКТЕ</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">ПОМОЖЕМ ПРАВИЛЬНО ВЫБРАТЬ ОКВЭД</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">ПОДСКАЖЕМ ВЫГОДНЫЙ ТАРИФ БАНКА, СИСТЕМУ НАЛОГООБЛАЖЕНИЯ</p>
      </li>
    </ul>
  </div>
  <div class="prices">
    <h1 class="prices-title">СТОИМОСТЬ УСЛУГ</h1>
    <div class="prices-table">
      <img class="price-logo-img" src="assets/images/2022-08-0610.31.4312.png" alt="">
      <ul class="prices-text">
        <li class="prices-item">Подготовка полного пакета документов для регистрации ООО (один учредитель) – 3500 руб.</li>
        <li class="prices-item">Подготовка полного пакета документов для регистрации ООО  (более одного учредителя) – 4500 руб.</li>
        <li class="prices-item">Подготовка договора аренды или безвозмездного пользования помещением – 3500 руб</li>
        <li class="prices-item">Кадровые документы (Трудовые договоры, приказы на работников) – 2500 руб./1 договор </li>
        <li class="prices-item">Подготовка пакета документов для регистрации Индивидуального предпринимателя – 2500 руб.</li>
        <li class="prices-item">Подготовка заявления о применении специального режима налогообложения – от 500 руб. </li>
      </ul>
    </div>
  </div>
</div>
