/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 24px;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}

footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-image {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.header-wrapper {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  width: calc(((100% - 1140px) / 2) + 490px);
}

.header-phone {
  display: flex;
  color: #41807c;
  text-transform: uppercase;
  margin-left: 15px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 50px;
  height: 50px;
  border: 3px solid #274a44;
  border-radius: 10%;
  cursor: pointer;
}

.menu > .menu-stick {
  width: 40px;
  height: 3px;
  background-color: #41807c;
  color: #41807c;
  margin: 5px 0;
}

.title-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.title {
  width: 600px;
  text-align: center;
  font-family: Montserrat, sans-serif !important;
  color: #274a44;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 40px;
}

.title-img {
  width: 700px;
}

/*ABOUT*/

.section {
  position: relative;
  padding: 0px 30px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  flex-direction: column;
  /*max-width: 1000px;*/
}

/*TODO: Need to create this shit*/

/*.bgi-down {*/
/*  background-image: url("/assets/images/dd3-min28.png");*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*}*/

/*.bgi-up {*/
/*  background-image: url("/assets/images/dd3-min25.png");*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*}*/

.section-title,
.why-us-title,
.questions-title {
  color: #274a44;
  margin: 50px 0px;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.6;
  text-transform: uppercase;
  border-left: 4px solid #274a44;
  padding: 10px 20px;
}

.about-container {
  display: flex;
  align-items: center;
}

.about-gif {
  height: 300px;
}

.about-items {
  padding: 25px 30px;
}

.about-item {
  display: flex;
  align-items: center;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 34px 0 0;
  font-family: 'Open Sans', sans-serif;
}

.about-text {
  color: #274a44;
  margin-left: 30px;
}

.section-low-img {
  position: absolute;
  top: 0;
  z-index: -1;
}

/*WHY US*/


/*QUESTIONS*/

.question-box-wrapper {
  padding: 25px 30px;
}

.question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  cursor: pointer;
}

.question-text {
  color: #274a44 !important;
  font-weight: 700;
  font-size: 18px;
  margin-right: 15px;
  font-family: Montserrat, sans-serif !important;
}

.answer-box {
  padding-bottom: 30px;
  padding-top: 30px;
  max-width: inherit;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #111111;
}

/*ABOUT*/
.partners-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.partners-container > .logo-image img {
  width: 200px;
  height: auto;
}

.form-section {
  text-align: center;
  margin-top: 40px;
}

.form-title {
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif !important;
  color: #274a44;
  font-weight: bold;
  margin-bottom: 30px;
}

.form {
  margin: 20px auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  border: 1px solid #b3b3b3;
  padding: 10px 12px;
  font-size: 16px;
  margin-bottom: 10px;
}

.form-textarea {
  resize: none;
}

.form-input-checkbox {
  margin-bottom: 10px;
}

.offero-link {
  color: #274a44;
  font-weight: bold;
}

.form-btn {
  margin: 0 auto;
  width: 155px;
  color: #ffffff;
  background-color: #274a44;
  padding: 10px 30px;
  outline: none;
  border: none;
}

.footer {
  padding: 0px 30px;
  border-top: 1px solid #c0c0c0;
  color: #274a44;
  background-image: url('/assets/images/dd3-min25121.png');
  background-position: 100% 56%;
}

.footer-rules,
.footer-end {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-end {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.footer-rules,
.footer-year {
  font-size: 30px;
}

.footer-politic-link {
  font-size: 20px;
}
