<div class="main-container">
  <div class="container">
    <img class="document-img" src="assets/images/pexels-erika-ortiz-120949461.jpg" alt="">
    <div class="site-wrapper">
      <div class="site-header">
        <app-triangle></app-triangle>
        <h2 class="site-title">Обучение</h2>
      </div>
    </div>
  </div>
  <div class="info-block">
    <ul class="info-items">
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Согласно новым НПА были отменены сертификаты, на их замену пришла АККРЕДИТАЦИЯ</div>
      </li>
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Каждый специалист, начиная с 2021 года должен проходить периодическую аккредитацию,
          предварительно собрав 250 квалификационных баллов за 5 лет. Баллы включают в себя: регистрация на портале НМО,
          участие в конференциях, прохождение онлайн-курсов
        </div>
      </li>
      <li class="info-item">
        <span class="green-circle"></span>
        <div class="info-text">Если специалист не смог набрать необходимое количество баллов, то должен отправиться на
          сдачу квалификационного экзамена
        </div>
      </li>
    </ul>
  </div>
  <div class="">
    <ul class="about-items">
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">ЗАРЕГИСТРИРУЕМ СПЕЦИАЛИСТА В ФРМР И НА ПОРТАЛЕ НМО</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">СДЕЛАЕМ ПОЛНЫЙ АУДИТ ВАШИХ ДОКУМЕНТОВ</p>
      </li>
      <li class="about-item">
        <app-green-point [star]="true"></app-green-point>
        <p class="about-text">МЫ ПОМОГАЕМ СОБРАТЬ ПОРТФОЛИО, НАПИСАТЬ ОТЧЕТ И ОТПРАВИТЬ В АККРЕДИТАЦИОННЫЙ ЦЕНТР</p>
      </li>
    </ul>
  </div>
  <div class="prices">
    <h1 class="prices-title">СТОИМОСТЬ УСЛУГ</h1>
    <div class="prices-table">
      <img class="price-logo-img" src="assets/images/2022-08-0610.31.4312.png" alt="">
      <ul class="prices-text">
        <li class="prices-item">Аудит документов специалистов – 300 руб. за 1 пакет документов</li>
        <li class="prices-item">Помощь в составлении портфолио и отчёта – по договорённости</li>
        <li class="prices-item">Помощь в подготовке к аккредитации – по договорённости</li>
        <li class="prices-item">Онлайн-консультация – 2000 руб.</li>
        <li class="prices-item">Выездная консультация (Москва и МО, Санкт-Петербург и ЛО, Ростов-на-Дону) – 7000 руб.
        </li>
      </ul>
    </div>
  </div>
</div>
