<section class="section">
  <div class="questions-title">
    НАШИ ПАРТНЁРЫ
  </div>
  <div class="partners-container">
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/-2_00001.jpg" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/logo4.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/DPLOGOblank.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/RUSMED_logo_rus_vertical_RGB.jpg" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/logo_58d1045a04da9bc9aad8bdc540463b55.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/logo-n.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/logo.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/Vuveska_page-0001-PhotoRoom.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/IMG_0574.jpg" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/logo2.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/favikon.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/logo5.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/allergo-logo.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/logo6.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/logo.svg" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/logotip.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/logo7.png" alt="">
    </div>
    <div class="logo-image">
      <img class="logo-image" src="../../assets/images/main-qimg-99171212c3d5216ce091abb7fe5a18.jpg.webp" alt="">
    </div>
  </div>
</section>
